<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <rewrite>
          <rules>
            <rule name="Disable access 1" stopProcessing="true">
              <match url=".*" ignoreCase="false" />
              <conditions>
                <add input="{URL}" pattern="^/install/.+$" ignoreCase="false" />
                <add input="{URL}" pattern="^/install/index\.php" ignoreCase="false" negate="true" />
              </conditions>
              <action type="CustomResponse" statusCode="404" subStatusCode="0" statusReason="ErrorDocument" statusDescription="File Not Found" /> 
            </rule>
            <rule name="Disable access 2" stopProcessing="true">
              <match url=".*" ignoreCase="false" />
              <conditions>
                <add input="{URL}" pattern="^/data/.+$" ignoreCase="false" />
                <add input="{URL}" pattern="^/data/uploads/.*$" ignoreCase="false" negate="true" />
              </conditions>
              <action type="CustomResponse" statusCode="404" subStatusCode="0" statusReason="ErrorDocument" statusDescription="File Not Found" /> 
            </rule>
            <rule name="Disable access 3" stopProcessing="true">
              <match url=".*" ignoreCase="false" />
              <conditions>
                <add input="{URL}" pattern="^/(design|lib|modules)/.+\.(php|phtml|xml|sql)$" ignoreCase="false" />
              </conditions>
              <action type="CustomResponse" statusCode="404" subStatusCode="0" statusReason="ErrorDocument" statusDescription="File Not Found" /> 
            </rule>
            <!--############################################-->
            <!--## rewrite everything else to index.php-->
            <rule name="Rewrite everything" stopProcessing="true">
              <match url=".*" ignoreCase="false" />
              <conditions>
                <!--############################################-->
                <!--## always send 404 on missing files in these folders-->
                <add input="{URL}" pattern="^/data/" ignoreCase="false" negate="true" />
                <!--############################################-->
                <!--## never rewrite for existing files, directories and links-->
                <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                <!--The condition pattern is not supported: -l.-->
              </conditions>
              <action type="Rewrite" url="index.php" />
            </rule>
          </rules>
        </rewrite>
    </system.webServer>
</configuration>
