<?xml version="1.0" encoding="utf-8"?>
<setting>
	<web module="admin">
		<label>网站配置</label>
		<sort>1</sort>
		<groups>
			<base module="admin">
				<label>基本设置</label>
				<sort>1</sort>
				<fields>
					<web_name>
						<label>网站名称</label>
						<sort>0</sort>
						<form>
							<type>text</type>
							<size>40</size>
							<verify>1</verify>
						</form>
					</web_name>
					<web_url>
						<label>首页网址</label>
						<sort>1</sort>
						<form>
							<type>text</type>
							<size>40</size>
							<verify><![CDATA[/^https?:\/\/[^\/]+\/$/i]]></verify>
							<empty>1</empty>
							<errormsg>网址格式不正确</errormsg>
							<notice>如果填写，所有链接将会始终使该域名</notice>
						</form>
					</web_url>
					<image_url>
						<label>图片网址</label>
						<sort>2</sort>
						<form>
							<type>text</type>
							<size>40</size>
							<verify><![CDATA[/^https?:\/\/.+\/$/i]]></verify>
							<empty>1</empty>
							<errormsg>网址格式不正确</errormsg>
						</form>
					</image_url>
					<css_url>
						<label>CSS网址</label>
						<sort>3</sort>
						<form>
							<type>text</type>
							<size>40</size>
							<verify><![CDATA[/^https?:\/\/.+\/$/i]]></verify>
							<empty>1</empty>
							<errormsg>网址格式不正确</errormsg>
						</form>
					</css_url>
					<js_url>
						<label>Javascript网址</label>
						<sort>4</sort>
						<form>
							<type>text</type>
							<size>40</size>
							<verify><![CDATA[/^https?:\/\/.+\/$/i]]></verify>
							<empty>1</empty>
							<errormsg>网址格式不正确</errormsg>
						</form>
					</js_url>
					<hide_indexphp>
						<label>URL隐藏index.php</label>
						<sort>5</sort>
						<global>1</global>
						<form>
							<type>yesno</type>
							<yes value="1">是</yes>
							<no value="0">否</no>
						</form>
					</hide_indexphp>
					<enable_rewrite>
						<label>地址重写</label>
						<sort>6</sort>
						<global>1</global>
						<form>
							<type>yesno</type>
							<yes value="1">开启</yes>
							<no value="0">禁用</no>
						</form>
					</enable_rewrite>
				</fields>
			</base>
			<design module="admin">
				<label>主题</label>
				<sort>3</sort>
				<fields>
					<admin_theme>
						<label>后台主题包</label>
						<sort>1</sort>
						<form>
							<type>text</type>
						</form>
					</admin_theme>
					<frontend_theme>
						<label>前台主题包</label>
						<sort>1</sort>
						<form>
							<type>text</type>
						</form>
					</frontend_theme>
				</fields>
			</design>
			<cookie module="admin">
				<label>Cookie配置</label>
				<sort>4</sort>
				<fields>
					<cookie_domain>
						<label>作用域</label>
						<sort>2</sort>
						<form>
							<type>text</type>
						</form>
					</cookie_domain>
					<cookie_path>
						<label>路径</label>
						<sort>3</sort>
						<form>
							<type>text</type>
						</form>
					</cookie_path>
					<cookie_lifetime>
						<label>生存时间</label>
						<sort>4</sort>
						<form>
							<type>text</type>
							<notice>单位：分钟</notice>
						</form>
					</cookie_lifetime>
					<cookie_httponly>
						<label>使用HTTP Only</label>
						<sort>5</sort>
						<form>
							<type>yesno</type>
							<yes value="1">是</yes>
							<no value="0">否</no>
						</form>
					</cookie_httponly>
					<cookie_prefix>
						<label>名称前缀</label>
						<sort>1</sort>
						<form>
							<type>text</type>
							<verify><![CDATA[/^[\w\-]+$/]]></verify>
							<errormsg>仅允许英文字母、数字、下划线或减号组合</errormsg>
						</form>
					</cookie_prefix>
				</fields>
			</cookie>
		</groups>
	</web>
	<system module="admin">
		<label>系统设置</label>
		<sort>99</sort>
		<groups>
			<access module="core">
				<label>访问设置</label>
				<sort>10</sort>
				<fields>
					<ip_blacklist>
						<label>IP黑名单</label>
						<sort>10</sort>
						<form>
							<type>textarea</type>
							<notice>禁止哪些IP的访客访问网站，可以使用*号代表一个或多个数字，例如：192.168.*.2*,127.0.0.*，IP之间可以随意用任意字符分隔，例如逗号或换行都可以</notice>
						</form>
					</ip_blacklist>
					<no_access_message>
						<label>提示信息</label>
						<sort>20</sort>
						<form>
							<type>textarea</type>
							<notice>禁止IP的访客访问网站时，看到的提示语。可以填写HTTP状态码403或者404</notice>
						</form>
					</no_access_message>
				</fields>
			</access>
			<date module="admin">
				<label>时间设置</label>
				<sort>20</sort>
				<fields>
					<timezone>
						<label>时区</label>
						<sort>10</sort>
						<form>
							<type>select</type>
							<width>360</width>
							<filter>true</filter>
							<source_model method="getAllOptions" parameters="true">Core_Model_Date_Timezone</source_model>
						</form>
					</timezone>
					<date_format>
						<label>日期格式</label>
						<sort>20</sort>
						<form>
							<type>text</type>
							<verify>1</verify>
							<notice>Y - 4位数字完整表示的年份；y - 2位数字表示的年份；m - 数字表示的月份，有前导零；n - 数字表示的月份，没有前导零；d - 月份，有前导零的2位数字；j - 月份中的第几天，没有前导零</notice>
							<errormsg>日期格式不能为空</errormsg>
						</form>
					</date_format>
					<datetime_format>
						<label>日期时间格式</label>
						<sort>30</sort>
						<form>
							<type>text</type>
							<verify>1</verify>
							<notice>H - 小时，24小时格式，有前导零；G - 小时，24小时格式，没有前导零；i - 有前导零的分钟数；s - 秒数，有前导零</notice>
							<errormsg>日期时间格式不能为空</errormsg>
						</form>
					</datetime_format>
				</fields>
			</date>
			<currency module="admin">
				<label>货币设置</label>
				<sort>30</sort>
				<fields>
					<precision>
						<label>小数位数</label>
						<sort>10</sort>
						<form>
							<type>text</type>
							<size>5</size>
							<verify><![CDATA[/^\d+$/]]></verify>
							<errormsg>请填写一个正整数</errormsg>
						</form>
					</precision>
					<dec_point>
						<label>小数点符号</label>
						<sort>30</sort>
						<form>
							<type>text</type>
							<size>5</size>
							<empty>1</empty>
							<verify><![CDATA[/^.$/]]></verify>
							<errormsg>请填写一个字符</errormsg>
						</form>
					</dec_point>
					<thousands_sep>
						<label>千位分隔符</label>
						<sort>50</sort>
						<form>
							<type>text</type>
							<size>5</size>
							<empty>1</empty>
							<verify><![CDATA[/^.$/]]></verify>
							<errormsg>请填写一个字符</errormsg>
						</form>
					</thousands_sep>
					<currency_symbol>
						<label>货币符号</label>
						<sort>80</sort>
						<form>
							<type>text</type>
							<size>5</size>
							<empty>1</empty>
							<verify><![CDATA[/^.$/]]></verify>
							<errormsg>请填写一个字符</errormsg>
						</form>
					</currency_symbol>
					<currency_seat>
						<label>货币符号位置</label>
						<sort>90</sort>
						<form>
							<type>radiogroup</type>
							<option value="1">在数字前面</option>
							<option value="0">在数字后面</option>
						</form>
					</currency_seat>
				</fields>
			</currency>
		</groups>
	</system>
</setting>