<?xml version="1.0" encoding="utf-8"?>
<config>
	<active>true</active>
	<version>1.0.0</version>
	<admin>
	  <menus>
	    <system>
		  <childnodes>
			<language>
			  <label>网站语言</label>
			  <sort>20</sort>
			  <href>language/adminhtml</href>
			  <rule read="只读" add="增加" edit="修改" delete="删除" translate="翻译" />
			</language>
		  </childnodes>
		</system>
	  </menus>
	</admin>
</config>